<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/style.css">
    <title>Home</title>
</head>
<body>

    <header id="header">
        <a href="./index.html"><img id="logo" src="../static/img/logo.png"></a>
        <div id="buttons">
            <a href="./login.html"><button id="login">Log In</button></a>
            <a href="./signup.html"><button id="signup">Sign Up</button></a>
        </div>
    </header>

    <div id="container">
        <img src="../static/img/erreur.png" id="erreur" style="width: 800px;">
    </div>
    
</body>
</html>