<head>
    <link rel="stylesheet" href="../static/styles/signup.css">
</head>
<body class="text-center">
    <header id="header">
        <img id="logo" src="../static/img/logo.png">
    </header>
    <div class="container">
        <form method="POST" class="form-register" style="color:white">
            <header>
                <h5>Sign up<span>.</span></h5>
                <p id="">Hi, Welcome to our  team !</p>
            </header>
    
            <!--{{ form.username.label() }}
            {{ form.first_name(id="firstName", placeholder="Enter first name") }}

            {{ form.username.label() }}
            {{ form.last_name(id="lastName", placeholder="Enter last name") }}

            {{ form.username.label() }}
            {{ form.username(class="form-control", placeholder="User Name") }}

            {{ form.email_address.label() }}
            {{ form.email_address(class="form-control", placeholder="Email Address") }}

            {{ form.numero.label() }}
            {{ form.numero( placeholder="Enter your phone number") }}
            

            {{ form.password1.label() }}
            {{ form.password1(class="form-control", placeholder="Password") }}

            {{ form.password2.label() }}
            {{ form.password2(class="form-control", placeholder="Confirm Password") }}

            {{ form.question1.label(placeholder="Choose the first question") }}
            {{ form.question1(id="questions1" ,placeholder="Choose the first question")}}

            {{ form.reponse1.label(placeholder="Answer") }}
            {{ form.reponse1(id="firstans" ,placeholder="Ansewer")}}

            <br>

            <div class="checkbox mb-3">
               <h6>Already have an account?</h6>
               <a class="btn btn-sm btn-secondary" href="{{ url_for('login_page') }}">Login</a>
            </div>

            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}-->
        
            <div class="champ">
                {{ form.first_name.label() }}
                {{ form.first_name(id="firstName", placeholder="Enter first name") }}
                <!-- <label for="firstName">First name</label>
                <input type="text" id="firstName" placeholder="Enter first name" > -->
            </div>
            <div class="champ">
                {{ form.last_name.label() }}
                {{ form.last_name(id="lastName", placeholder="Enter last name") }}
                <!-- <label for="lastName">Last name</label>
                <input type="text" id="lastName" placeholder="Enter first name" > -->
            </div>
            <div class="champ">
                {{ form.username.label() }}
                {{ form.username(class="form-control", placeholder="User Name") }}
                <!-- <label for="username">Username</label>
                <input type="text" id="username" class="form-control" placeholder="User Name" > -->
            </div>
            <div class="champ">
                {{ form.email_address.label() }}
                {{ form.email_address(class="form-control", placeholder="Email Address") }}
                <!-- <label for="email_address">E-mail</label>
                <input type="text" id="email_address" class="form-control" placeholder="Email Address" > -->
            </div>
            <div class="champ">
                {{ form.numero.label() }}
                {{ form.numero( placeholder="Enter your phone number") }}
                <!-- <label for="numero">Number</label>
                <input type="text" id="numero" placeholder="Enter your phone number"> -->
            </div>
            <div class="champ">
                {{ form.password1.label() }}
                {{ form.password1(class="form-control", placeholder="Password") }}
                <!-- <label for="password1">Password</label>
                <input type="text" id="password1" class="form-control" placeholder="Password" > -->
            </div>
            <div class="champ">
                {{ form.password2.label() }}
                {{ form.password2(class="form-control", placeholder="Confirm Password") }}
                <!-- <label for="password2">Confirm Password</label>
                <input type="text" id="password2" class="form-control" placeholder="Confirm Password" > -->
            </div>
            <div class="champ">
                {{ form.question1.label(placeholder="Choose the first question") }}
                {{ form.question1(id="questions1" ,placeholder="Choose the first question")}}
                <!-- <label for="question1">Custom question</label>
                <input type="text" id="question1" placeholder="Choose the first question" > -->
            </div>
            <div class="champ">
                {{ form.reponse1.label(placeholder="Answer") }}
                {{ form.reponse1(id="firstans" ,placeholder="Ansewer")}}
                <!-- <label for="firstans">Answer</label>
                <input type="text" id="firstans" placeholder="Ansewer") > -->
            </div>
            <div class="champ">
                {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
             
            </div>
            <div class="checkbox mb-3">
                <h6>Already have an account?</h6>
                <a class="btn btn-sm btn-secondary" href="{{ url_for('login_page') }}">Login</a>
            </div>

        </form>
    </div>
</body>